.bgvideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.logo {
    display: block;
    margin: auto;
    height: 10em;
    width: auto;
    padding: 1.5em;
    filter: drop-shadow(4px 4px 6px rgb(13, 13, 13));
}

.container {
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 50vw;
    margin: auto;
    height: 45vh;
    overflow-y: auto;
    padding: 1em;
}

.message {
    min-width: 10em;
    padding: 0.5em 2.5em;
    margin: 0.5em;
    border-radius: 5em;
    border: 2px solid #ccc;
    clear: both;
    position: relative;
    word-wrap: break-word;
    background-color: white;
    box-shadow: 3px 4px 9px 0px #17272c;
}

/* Alignments */


.left {
  float: left;
}

.right {
  float: right;
  clear: both;
}

/* Font styling */
.sender {
  font-weight: bold;
  font-size: 1.1rem;
  margin : 0.5px;
  color: #222;
}

.text {
  font-size: 1.15rem;
    padding-left: 1em;
}

.timestamp {
    font-size: 0.75rem;
    color: #555;
    float: right;
    bottom: 6px;
    left: 97%;
    padding-top: 0.5em;

}
    
/* Colors per user */


.green-user {
  background-color: #d1e7dd;
  border-color: #0f5132;
}

.blue-user {
  background-color: #cfe2ff;
  border-color: #084298;
}

.default-user {
  background-color: #f8f9fa;
  border-color: #6c757d;
}

/* Send box */
#send-container {
display: block;
    text-align: center;
    margin: auto;
    max-width: 80vw;
    width: 100%;
    padding: 1em;
}

#messageInp {
    width: 80vw;
    border: 2px solid purple;
    border-radius: 5em;
    height: 2em;
    font-size: 1rem;
    padding: 0.3em;
}

.btn {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 1em 3em;
    border: none;
    border-radius: 5em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 1.5em;
}

.btn:hover {
  background: linear-gradient(to right, orange, yellow);
  color: #000;
  transform: scale(1.05);
}


.typing-indicator {
  font-style: italic;
  color: rgb(4, 120, 197);
  min-height: 1.5em; /* reserve some space */
  margin: 0.3em auto 0 auto;
  width: 50vw;
  text-align: left;
  padding-left: 1em;
  user-select: none;
  pointer-events: none;
  font-size: 1.2rem;
}


/* Responsivness */

    @media only screen and (max-width: 640px) {

        .logo {
            height: 8em;
        }

        .sender {
        
            font-size: 0.95em;
        }    

        .text {
            font-size: 1em;
        }
        .message {
            padding: 0.5em 1.5em;
            font-size: 0.9em;
        }

        .container {
            width: 85vw;
            height: 48vh;
        }

    }